<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

        <main>
            <% if (products.length > 0) {%>
                <ul>
                    <% products.forEach((item) => {%>
                        <li>
                            <div>
                                <%=item.productData.title%> --- Price: $<%=item.productData.price%> --- Qty: <%=item.qty%>
                                <form action="/cart-del-item" method="post">
                                    <input type="text" hidden value="<%= item.productData.id%>" name="productId">
                                    <button class="btn" type="submit">X</button>
                                </form>
                            </div>
                        </li>
                    <% })%>
                </ul>
            <% } else {%>
                <h1>Your Cart is Empty</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>