<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= pageTitle %></h1>
            <h3><%= product.title %></h3>
            <hr>
            <div>
              <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
            </div>
            <div>
              <p><%= product.price %></p>
              <p><%= product.description %></p>
            </div>
            <%- include('../includes/add-to-cart.ejs', {product: product}) %>
        </main>
        <%- include('../includes/end.ejs') %>